* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
}

.navbar {
    background-color: #FF96FC;
    padding: 10px;
}

.container{
    padding: 20px;
    color: white;
}

.book-container{
    width: 25%;
    margin: 30px;
    padding: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.container h2{
    color: #FFE69F;
}

.container button{
    margin-top: 19px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #6B7CFF;
    border: solid black 2px;
}

.add-button{
    background-color: #FF96FC;
    font-size: 40px;
    width: 42px;
    border-radius: 100%;
    position: fixed;
    bottom: 42px;
    right: 68px;
    
}

.over-lay{
    background-color: black;
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
}

.container-box{
    background-color: black;
    position: absolute;
    width: 40%;
    height: 325px;
    left: 30%;
    top: 10%;
    z-index: 2;
    display: none;
}

.container-box h2{
    color: white;
}

.container-box input{
    margin-top: 5px;
    width: 100%;
    border: none;
    height: 25px;
}

.container-box textarea{
    display: block;
    margin-top: 10px;
    width: 100%;
    height: 158px;
    border: none;
}

.container-box button{
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #6B7CFF;
    border: none;
    border-radius: 10px;
}

.button-style{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.container-box input::placeholder {
    color: black;
}

.container-box textarea::placeholder {
    color: black;
}

.container-box input:focus {
    outline: none;
}

.container-box textarea:focus {
    outline: none;
}
